<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Room</title>
</head>
<body>
<h2>Add New Room</h2>
<form action="" method="POST">
  <label for="room_name">
      <input type="text" id="room_name" name="room_name">
  </label>
    <label for="room_capacity">
      <input type="text" id="room_capacity" name="room_capacity">
  </label>
    <label for="projector_availability">
      <input type="checkbox" id="projector_availability" name="projector_availability">
  </label>
</form>
</body>
</html>